


.detailcard{
    width: 100%;
    display: grid;
   align-items: center;
    grid-template-columns: repeat(7,1fr) ;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding-left: 20px;
    padding: 10px;
    box-shadow: 1px 1px 5px grey;
    border-radius: 10px;
    font-size: 18px;

}

.dlt-icon{
    color: red;
}

.dlt-icon,.edit-icon{
    font-size: 30px;
    margin: 5px;
    
}

.sts-btn{
    display: grid;
    place-content: center;
    width:150px;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50px;
    
}

.status-btn-active{
    background-color: #c4f4be;
}

.status-btn-inactive{
    background-color: #ffc9bf;
}

.status-btn-probation{
    background-color: #F5ECB8;
}



