


.detailcard{
    width: 100%;
    display: grid;
   align-items: center;
    grid-template-columns: repeat(7,1fr) ;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 10px;
    box-shadow: 1px 1px 5px grey;
    border-radius: 10px;
    font-size: 18px;

}

.dlt-icon{
    color: red;
}

.dlt-icon,.edit-icon{
    font-size: 50px;
    margin: 5px;
}

.sts-btn{
    display: grid;
    place-content: center;
    width:100px;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    
}

.status-btn-active{
    background-color: rgba(0, 255, 0, 0.856);
}

.status-btn-inactive{
    background-color: rgba(255, 0, 0, 0.562);
}

.status-btn-probation{
    background-color: rgba(255, 255, 0, 0.473);
}



