.sidebar {

 width:300px;
 min-width: 300px;
 height: 100%;
box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);
z-index: 2;


}

.side-logo{
    
    width: 100%;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    padding: 30px;
    
    
}

.side-logo img {
    max-width: 100%;
    
    width: auto;
    height: auto;
    object-fit: contain;
}

.sidenav-btn-container{
    padding-top: 10px;
    height: 100vh;
    background-color: #ffffff;
}

.emp-button{
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    background-color:  #03AEEE;
    gap: 10px;
    height: 60px;
    border-radius: 35px 0 0 35px;
    margin-top: 20px;
    margin-left: 10px;
    margin-top: 20px;
}

.emp-button a{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    
}

.emp-button img{
    background-color: white;
    border-radius:50%;
    padding: 5px;
    height: 60%;
}

