.main-create-emp {
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FAFAFA;
    margin-top: 110px;
    
   
}

.header-container{
    width:90%
}

.details-card{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap:20px;
    padding:20px;
    
    box-shadow: black;
    font-weight: 200px;
}

.details{
    margin-top: 10px;
}

.details label{
    font-size: 16px;
    font-weight: 500;
}

.details input, 
.details select {
    display: block;
    margin-top: 20px;
    box-shadow: black;
    border: .5px solid lightgray;
    border-radius: 8px;
    background-color: #FAFAFA;
    padding: 15px 10px;
    width: 450px;
}


.right-card{
    background-color: white;
    box-shadow:3px 3px 5px lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
    margin:30px;
}

.btns{
    display: flex;
    gap: 20px;
    margin: 20px;
}





