.header{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    align-items: center;
    box-shadow: 3px 3px 10px lightgray;
    height:100px;
    width:150vh;
    margin-top: 250px;
    border-radius: 10px;
    margin: 20px;
    background-color:#FAFAFA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:22px;
    font-style: bold;
    margin-top:50px;
    padding: 20px;
}

.employee-functions{
    display: flex;
    gap:2px
}
