.right{
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content: center;
    align-items:center;
    
}

.container {
    height: 100%;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    flex-wrap: wrap;
    object-fit: contain;
    gap:20px;
}

.login-logo{
    width: 100%
   
}

.login-logo img{
    height:45px
    
}



.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    width:300px;
}

.username{
    position:relative;
}


.username input:focus {
    outline: none;
    border: 1px solid #03AEEE;
}



.username > label {
    font-size: 16px;
    left: 0px;
    top: 8px;
    position: absolute;
    margin-left: 10px;
    padding: 2px;
    transition: .2s;
    font-weight: 100;

    pointer-events: none;
}




.username > input:focus ~ label {
    color: #03AEEE;
    top:-10px ;
    background-color: white;
    font-size: 14px;
    
}

input{
   
    width:100%;
    padding: 10px;
}

.password input{
    
    font-weight: 400;
}

p{
    color: red;
    background-color: rgb(255, 208, 208);
    padding: 10px;
    border-radius: 5px;
}




