.btn{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width:200px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 5px;
    border:none
}

.btn-primary {
    background-color:  #03AEEE;
    color:white; 
}

.btn-primary-login {
    background-color:  #03AEEE;
    color:white; 
    width:300px;
    font-weight: 600;
    cursor: pointer;
}

.btn-secondary {
    background-color:  #ffffff;
    color:gray; 
    border: 1px solid gray; 
    cursor: pointer;
}

.btn-secondary-clear{
    background-color:  lightgrey;
    color:black; 
    width:50px;
    height: 30px;
    border: 1px solid gray; 
    
    margin-left:242px;
    margin-top: 10px;
    position:absolute;
    
    font-size: 13px;
    padding: 0px;
    border: none;
    z-index: 2;
    font-weight: 800;
}

.btn-secondary-clear:hover{
    background-color: rgb(255, 94, 0);
    color: white;
}


